@model _23DH112807_MyStore.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 align="center" class="bg-success">THÔNG TIN CHI CỦA TIẾT DANH MỤC</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.CategoryName)*@ @*khỏi hiển thị chữ Category*@
            Tên danh mục
        </dt>
        @*Giá trị của trường CategoryName*@
        <dd>
            @Html.DisplayFor(model  => model.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.CategoryID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Quay lại danh sách", "Index",null, new { @class = "btn btn-primary" })
</p>
@*dùng item tui vừa mới xóa khi dùng với dạng list bên action link bên index của category nên sửa item thành model*@