@model _23DH112807_MyStore.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success"> XÓA SẢN PHẨM </h2>

<h4 align="center" class="bg-danger col-md-12">Bạn thực sự muốn xóa sản phẩm này không?</h4> @*hỏi cô thử dòng này căn ra giữa được không*@
@Html.Partial("PartialView_DetailProduct", Model)

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Xóa", "Delete", new { Model.ProductID }, new { @class = "btn btn-primary" })    @*lấy phẩn model.ProductId ở trên*@
        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>



