@model _23DH112807_MyStore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h2 class="bg-success">CHI TIẾT SẢN PHẨM</h2>
@Html.Partial("PartialView_DetailProduct", Model)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Chỉnh sửa", "Edit", new { Model.ProductID }, new { @class = "btn btn-primary" })    @*lấy phẩn model.ProductId ở trên*@
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary" })
        </div
     </div>


