
@model _23DH112807_MyStore.Models.ViewModel.ProductSearchVM
    <head>
        <style>
            img{
                height:150px;
                max-width: 150px;
            }
        </style>
    </head>

<!--Hiển thị danh sách sản phẩm-->
@if (Model.Products !=null && Model.Products.Any())
            {
                <h2 class="bg-success">DANH SÁCH SẢN PHẨM</h2>
                |
                <table class="table bg-infor table-responsive">
                    <thead>
                    <tr>
                    <th>
        </table>
            }
